@page "/Delete"
@page "/Delete/{PrioridadId:int}"
@inject PrioridadServices prioridadService
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@rendermode InteractiveServer

<PageTitle>Eliminar Prioridad</PageTitle>

@if (prioridad != null)
{
    <div class="container">
        <div class="card shadow-header">
            <!-- Header -->
            <div class="card-header  bg-primary text-white text-center py-2 rounded">
                <h3><strong>Eliminar Prioridad</strong></h3>
            </div>
            <div class="card-header">
                <h3 class="text-danger">¿Estás seguro de que quieres eliminar la prioridad?</h3>
            </div>
            <!-- Body -->
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card shadow-lg">
                            <div class="card-header">
                                <h3 class="text-center"><strong>Datos de la prioridad</strong></h3>
                            </div>
                            <div class="card-body">
                                <div class="border-primary border-2 borde">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <ul class="list-unstyled">
                                                    <li><strong>PrioridadId:</strong> @prioridad.PrioridadId</li>
                                                    <li><strong>Descripción:</strong> @prioridad.Descripcion</li>
                                                    <li><strong>Días Compromiso:</strong> @prioridad.DiasCompromiso</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <div class="card-footer">
                <button type="button" class="btn btn-outline-danger" @onclick="EliminarPrioridad"><i class="bi bi-trash-fill"></i> Eliminar</button>
                <button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left"></i> Volver</button>
            </div>
        </div>
    </div>
}
else
{
    <p>Prioridad no encontrada.</p>
}

@code {
    [Parameter]
    public int PrioridadId { get; set; }
    public Prioridades prioridad { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (PrioridadId != 0)
        {
            prioridad = await prioridadService.Buscar(PrioridadId);
        }
    }

    public async Task EliminarPrioridad()
    {
        if (PrioridadId == 0 || prioridad == null)
        {
            return;
        }

        if (await prioridadService.Eliminar(PrioridadId))
        {
            Volver();
        }
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Index");
    }
}
