@page "/Edit"
@page "/Edit/{PrioridadId:int}"
@inject PrioridadServices PrioridadService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<EditForm Model="Prioridades" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card shadow-lg border-0 rounded" style="background-color: #f8f9fa;">
        <div class="card-header bg-primary text-white" style="text-align: center;">
            <h3> <i class="fas fa-clipboard-list"></i> Editar Prioridades</h3>
        </div>

        <div class="card-body">

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label for="PrioridadId" class="form-label">PrioridadId:</label>
                    <div class="input-group">
                        <div style="width: 40%; height: 1em;">
                            <InputNumber @bind-Value="Prioridades.PrioridadId" class="form-control" style="font-size: 0.8em;" aria-describedby="BotonBuscar" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <label for="Descripcion" class="form-label">Descripción:</label>
                <InputText @bind-Value="Prioridades.Descripcion" class="form-control" />
                <ValidationMessage For="@(() => Prioridades.Descripcion)" />
            </div>

            <div class="mb-3">
                <label for="DiasCompromiso" class="form-label">Días Compromiso:</label>
                <InputNumber @bind-Value="Prioridades.DiasCompromiso" class="form-control" />
                <ValidationMessage For="@(() => Prioridades.DiasCompromiso)" />
            </div>

        </div>

        <div class="card-footer bg-light d-flex justify-content-center mt-3">
            <div class="btn-group">
                <button type="button" class="btn btn-outline-primary ml-2" @onclick="Nuevo"><span class="bi bi-plus"></span> Nuevo </button>
                <button type="submit" class="btn btn-outline-success ml-2"><span class="bi bi-check-circle-fill"></span> Guardar </button>
                <a type="button" href="/Index/" class="btn btn-outline-danger"><span class="bi bi-arrow-bar-left"></span> Retroceder </a>
            </div>
        </div>
    </div>
</EditForm>


@code {
    [Parameter]
    public int PrioridadId { get; set; }
    public Prioridades Prioridades = new Prioridades();
    private bool Existe = false;

    protected override async Task OnInitializedAsync()
    {
        if (PrioridadId != 0)
        {
            await Buscar();
        }
    }

    public async Task Nuevo()
    {
        Prioridades = new Prioridades();
        Existe = false;
    }

    public async Task Buscar()
    {
        Existe = false;
        var prioridadEncontrada = await PrioridadService.Buscar(PrioridadId);

        if (prioridadEncontrada != null)
        {
            Prioridades = prioridadEncontrada;
        }
        else
        {
            await Nuevo();
        }
    }

    public bool Validar()
    {
        Existe = (PrioridadService.Listar(pr => pr.Descripcion!.ToLower() == Prioridades.Descripcion!.ToLower() && pr.PrioridadId != Prioridades.PrioridadId).Any());
        return Existe;
    }

    public async Task Guardar()
    {
        if (Validar())
        {
            return;
        }

        var guardo = await PrioridadService.Guardar(Prioridades);
        if (guardo)
        {
            await this.Nuevo();
            Console.WriteLine(Prioridades);
        }
    }

    public async Task Eliminar()
    {
        var eliminado = PrioridadService.Eliminar(Prioridades.PrioridadId);
        await Nuevo();
    }
}
