@page "/Index"

@inject PrioridadServices prioridadesService;
@rendermode InteractiveServer
@inject IJSRuntime JSRuntime


<EditForm Model="ListaPrioridades" class="border shadow-lg p-3 rounded">
    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Consulta Prioridades</h3>
    </div>
    <div class="card-body">
        <div class="row mb-3 align-items-end">
            <div class="col-md-3">
                <label for="Filtro" class="form-label">Filtrar por:</label>
                <select @bind="filtro" class="form-select">
                    <option value="id">ID</option>
                    <option value="descripcion">Descripci&oacuten</option>
                    <option value="diascompromiso">D&iacuteas Compromiso</option>
                </select>
            </div>
            <div class="col-md-6">
                <label for="ValorFiltro" class="form-label">Búsqueda:</label>
                <div class="input-group">
                    <input @bind="valorFiltro" class="form-control" placeholder="Buscar" />
                    <button @onclick="Buscar" class="btn btn-outline-primary" type="button">
                        <span class="bi bi-search"></span> Buscar
                    </button>
                </div>
            </div>
            <div class="col-md-3 text-end">
                <a href="/Create" class="btn btn-success" type="button"><span class="bi bi-floppy"></span> Crear </a>
            </div>
        </div>
    </div>
    <table class="table table-bordered text-center">
        <thead class="bg-primary text-white">
            <tr>
                <th>PrioridadId</th>
                <th>Descripci&oacuten</th>
                <th>D&iacuteas Compromiso</th>
                <th>Ver</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prioridad in ListaPrioridades)
            {
                <tr>
                    <td>@prioridad.PrioridadId</td>
                    <td>@prioridad.Descripcion</td>
                    <td>@prioridad.DiasCompromiso</td>
                    <td>
                        <a href="/Details/@prioridad.PrioridadId" style="border: none; background-color: transparent;" class="btn-detalle">
                            <span class="bi bi-info-circle-fill" style="font-size: 2rem;"></span>
                        </a>

                    </td>
                    <td>
                        <a href="/Edit/@prioridad.PrioridadId" style="border: none; background-color: transparent;" class="btn-editar">
                            <span class="bi bi-marker-tip" style="font-size: 2rem;"></span>
                        </a>

                    </td>
                   
                    <td>
                        <a href="/Delete/@prioridad.PrioridadId" style="border: none; background-color: transparent;" class="btn-eliminar">
                            <span class="bi bi-dash-circle-fill" style="font-size: 2rem;"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</EditForm>


@code {

    public Prioridades Prioridades = new Prioridades();

    public List<Prioridades> ListaPrioridades = new List<Prioridades>();

    private string filtro = "Id";
    private string valorFiltro = "";

    protected override void OnInitialized()
    {
        ListaPrioridades = prioridadesService.Listar(c => true);
    }
    public async Task Guardar()
    {
        var guardo = await prioridadesService.Guardar(Prioridades);

    }
    private void Buscar()
    {
        if (valorFiltro.Trim() != "")
        {
            if (filtro == "id" && int.TryParse(valorFiltro, out int PrioridadId))
            {
                ListaPrioridades = prioridadesService.Listar(p => p.PrioridadId == PrioridadId);
            }
            else if (filtro == "descripcion")
            {
                ListaPrioridades = prioridadesService.Listar(p => p.Descripcion == valorFiltro);
            }
            else if (filtro == "diascompromiso" && int.TryParse(valorFiltro, out int DiasCompromiso))
            {
                ListaPrioridades = prioridadesService.Listar(p => p.DiasCompromiso == DiasCompromiso);
            }
        }
        else
        {
            ListaPrioridades = prioridadesService.Listar(p => true);
        }
    }


}